
src/.vs/PISTools/v14/.suo
src/Debug/VSZip.dll
src/Debug/PISTools.dll
src/Debug/PISTools.exp
src/Debug/PISTools.ilk
src/Debug/PISTools.lib
src/Debug/PISTools.pdb
src/Debug/TestTools.exe
src/Debug/TestTools.ilk
src/Debug/TestTools.pdb
src/Debug/zlib1.dll
src/ipch/PISTOOLS-3dbca6d3/PISTOOLS-60869f49.ipch
src/ipch/TESTTOOLS-9f8fc15b/TESTTOOLS-9c550ab7.ipch
src/ipch/TESTTOOLS-9f8fc15b/TESTTOOLS-a9d247d.ipch
src/PISTools.VC.db
src/PISTools.VC.VC.opendb
src/PISTools/Debug/Console_Interface.obj
*.obj
*.tlh
*.tli
*.log
*.enc
*.pch
*.res
*.tlog
*.idb
*.pdb
*.exp
src/Release/PISTools.lib
*.ipch
